/* Style for the main App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
  background-color: #758694;
  
}
body{
  margin: 0%;
  height: 100%;
}

/* Style for the header */
header {
  position: fixed;
  bottom: 1px;
  left: 3px;
  color: #FFF8F3;
  padding: 1%;
}

/* Style for the personal info form and CV preview container */
.group1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Adjust max-width as needed */
  padding: 20px;
  gap: 20px; /* Add some space between the form and preview */
  
}


/* Additional styles */
h1, h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

p {
  margin: 5px 0;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 8px;
  
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus, form textarea:focus {
  border-color: #758694; /* Change border color on focus */
  box-shadow: 0 0 5px #758694(0, 123, 255, 0.5); /* Add shadow effect on focus */
}

form input:hover, form textarea:hover {
  border-color: #758694; /* Change border color on hover */
}
form button {
  padding: 10px 20px; /* Add padding for better spacing */
  background-color: #758694; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for hover effect */
}

form button:hover {
  background-color: #41474d; /* Darker background on hover */
}

form button:active {
  background-color: #758694; /* Even darker background on click */
}

/* Style for the personal info and form sections */
.personal-info {
  flex: 1;
  min-width: 300px;
}


/* Improved CV preview section */
.cv-preview {
  flex: 1;
  min-width: 300px;
  padding: 1.5%;
  border-radius: 4px;
  background-color: #fff;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.cv-preview h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 2px solid #405D72;
  padding-bottom: 5px;
}

.cv-preview .section {
  margin-bottom: 20px;
}

.cv-preview .section:last-child {
  margin-bottom: 0;
}

.cv-preview h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.cv-preview p {
  margin: 5px 0;
  color: #555;
}

  /* Style for collapsible sections */
  .collapsible {
    background-color: #405D72;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .collapsible:hover {
    background-color: #506D82; /* Change background color on hover */
    color: #e0e0e0; /* Optional: Change text color on hover */
  }


  .collapsible::after {
    content: '\25BC'; /* Down arrow */
    font-size: 12px;
  }

  .collapsible-active::after {
    content: '\25B2'; /* Up arrow */
  }

  .collapsible-content {
    padding: 20px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 2%;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  }

  .collapsible-active .collapsible-content {
    display: block;
    margin-bottom: 2%;
    padding: 2%;
  }

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #758694;
  border: 2px solid #758694;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #405D72;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #405D72; 
}